<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">Sua Lista <b>{{nome_lista}}</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="modal-item">
  <div class="container" >
    <ion-list *ngIf="!isLoading">
      <ion-item *ngFor="let item of Items">
        <ion-label>{{item.nome}}</ion-label>
        <ion-label>{{item.quantidade}}</ion-label>
        <!-- <ion-checkbox slot="end" [(ngModel)]="item.is_checked"></ion-checkbox> -->
      </ion-item>
    </ion-list>

    <div class="modal-footer">
      <ion-buttons slot="end">
        <ion-button color="primary">
          <b>Usar Lista</b>
        </ion-button>
        <ion-button color="primary">
          <b>Editar Lista</b>
        </ion-button>
        <ion-button (click)="closeModal()" style=" color: #92949C;">
          <b>Cancelar</b>
        </ion-button>
      </ion-buttons>
    </div>
    <ion-spinner *ngIf="isLoading"></ion-spinner>
  </div>
</ion-content>
